<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Freader: An open source feed reader.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An open source feed reader.">
    <meta name="author" content="justinkronz.com">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

    </div><!--/.fluid-container-->

    <script src="https://login.persona.org/include.js"></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
