<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Freader: An open source feed reader.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An open source feed reader.">
    <meta name="author" content="justinkronz.com">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Freader</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link"><%= current_user.email %></a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#" class="new-feed-link">Subscribe</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact Me</a></li>
                  <li><a href="https://github.com/jkronz/autotunes" target="_blank">Check Out the Code</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <%= yield %>

      <hr>

    </div><!--/.fluid-container-->

    <%= javascript_include_tag "application" %>
  </body>
</html>
